.subscribedOffer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tablesubscribe {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}