.TopExpertsName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 14px;
  margin-top: 20px;
}

.expertBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

}

.nameBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* position: absolute;
  visibility: hidden;
  background: #fec901;
  width: 400px;
  height: 300px; */
}

/* .nameBox.visible {
  visibility: visible;
} */