.flexcontainer {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infobox {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.infobox img {
  width: 400px;
  height: 500px;
  border-radius: 5%;
  box-shadow: 0 0 20px 0 lightgray;
}

.title {
  text-align: center;
}

.buttonAsk {
  margin: 1rem;
  padding: 0 1rem;
  height: 2.5rem;
  color: white;
  background: #0095dd;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.2;
  border: 0;
}

.buttonAsk:hover {
  animation: example 5s infinite linear;
  /* border-radius: 6px; */
}

@keyframes example {
  0% {
    background: #33CCCC;
  }

  20% {
    background: #33CC36;
  }

  40% {
    background: #B8CC33;
  }

  /* 60% {
    background: #FCCA00;
  } */

  80% {
    background: #33CC36;
  }

  100% {
    background: #33CCCC;
  }
}

.marqueeContainer {
  margin-bottom: 7px;
}